<div id="versioning_display" class="tab-pane">
  <h2>Versions</h2>
  <div class="alert alert-warning"><p>We are not currently using the Hyrax versioning feature.</p><p> Alternatively, please delete and re-ingest the file set.</p></div>
</div> <!-- /row -->
