<% subject_authorities = Hyrax::SubjectAuthorities.new %>
<fieldset class="bordered form-group">
<%= f.input key,
  as: :controlled_vocabulary,
  placeholder: 'Search for a subject (topical)',
  input_html: {
    class: 'form-control',
    data: {
      'autocomplete-url' => "/authorities/search/loc/subjects",
      'autocomplete' => key
    }
  },
  ### Required for the ControlledVocabulary javascript:
  wrapper_html: {
    data: {
      'autocomplete-url' => "/authorities/search/loc/subjects",
      'field-name' => key
    }
  },
  required: f.object.required?(key) %>

  <label>Authority for Subject (Topical)</label>

<%= select_tag "subject_authorities",
        options_for_select(subject_authorities.select_active_options),
        class: 'form-control image_subject',
        data: {
          'authority-select' => "image_subject_topical",
          'uses-controlled-vocab' => true
        },
        prompt: t('hyrax.records.edit_fields.subject_topical.prompt')
  %>
</fieldset>
