packages:
  yum:
    git: []
commands:
  install_ffmpeg:
    command: |
      mkdir -p /tmp/ffmpeg
      cd /tmp/ffmpeg
      curl https://s3.amazonaws.com/nul-repo-deploy/ffmpeg-release-64bit-static.tar.xz | tar xJ
      cp `find . -type f -executable` /usr/local/bin/
  install_fits:
    command: |
      cd /tmp
      curl -O https://s3.amazonaws.com/nul-repo-deploy/fits-1.0.5.zip
      cd /usr/local
      unzip -o /tmp/fits-1.0.5.zip
  install_libreoffice:
    command: |
      mkdir -p /tmp/libreoffice
      cd /tmp/libreoffice
      curl http://ftp.ussg.indiana.edu/tdf/libreoffice/stable/5.3.4/rpm/x86/LibreOffice_5.3.4_Linux_x86_rpm.tar.gz | tar xz
      cd */RPMS
      yum -y install *.rpm
