option_settings:
  - option_name: BUNDLE_WITH
    value: aws:postgres
  - option_name: BUNDLE_WITHOUT
    value: development:test
  - option_name: DISABLE_REDIS_CLUSTER
    value: 'true'
  - option_name: RAILS_GROUPS
    value: 'aws'
  - option_name: RAILS_SERVE_STATIC_FILES
    value: 'true'
  - option_name: SETTINGS__ACTIVE_JOB__QUEUE_ADAPTER
    value: better_active_elastic_job
  - option_name: SETTINGS__FFMPEG__PATH
    value: "/usr/local/bin/ffmpeg"
  - option_name: SETTINGS__FITS__PATH
    value: "/usr/local/fits-1.0.5/fits.sh"
  - option_name: SETTINGS__GROUPS__SYSTEM_GROUPS
    value: administrator,group_manager,manager
  - option_name: SETTINGS__NAME
    value: donut
  - option_name: SETTINGS__UPLOAD_PATH
    value: /var/donut-working/temp
  - option_name: SETTINGS__DERIVATIVES_PATH
    value: /var/donut-derivatives
  - option_name: SETTINGS__WORKING_PATH
    value: /var/donut-working/work
  - option_name: TMPDIR
    value: /var/donut-working/temp
