packages:
  yum:
    nfs-utils: []
    jq: []
files:
  "/home/ec2-user/mount_efs_volumes.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      aws configure set region $(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | jq -r '.region')
      eval $(cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | jq -r '.optionsettings | {"aws:elasticbeanstalk:application:environment"}[][]')
      eval $(aws ssm get-parameters-by-path --path "${SSM_PARAM_PATH}/Deploy/" | jq -r '[.Parameters[]] | map(((.Name / "/")|last|ascii_upcase) + "=\"" + (.Value) + "\"") | .[]')

      # Mount working volume and create working/temp directories
      mkdir -p /var/donut-working
      mountpoint -q /var/donut-working
      if [ $? -ne 0 ]; then
        mount -t nfs4 ${WORKING_VOLUME}:/ /var/donut-working/
      fi
      mkdir -p /var/donut-working/temp /var/donut-working/work
      chown webapp:webapp /var/donut-working/temp /var/donut-working/work

      # Mount derivatives volume and create derivatives directory
      mkdir -p /var/donut-derivatives
      mountpoint -q /var/donut-derivatives
      if [ $? -ne 0 ]; then
        mount -t nfs4 ${DERIVATIVE_VOLUME}:/ /var/donut-derivatives/
      fi
      chown webapp:webapp /var/donut-derivatives
commands:
  01_mount:
    command: "/home/ec2-user/mount_efs_volumes.sh"
