packages:
  yum:
    nfs-utils: []
    jq: []
files:
  "/home/ec2-user/mount_derivatives.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      config=$(cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | jq -r '.optionsettings | {"aws:elasticbeanstalk:application:environment"}[][]')
      for var in $config; do eval $var; done

      mkdir -p /var/donut-derivatives
      mountpoint -q /var/donut-derivatives
      if [ $? -ne 0 ]; then
        mount -t nfs4 ${DERIVATIVE_VOLUME}:/ /var/donut-derivatives/
      fi
      chown webapp:webapp /var/donut-derivatives
commands:
  01_mount:
    command: "/home/ec2-user/mount_derivatives.sh"
