files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_shoryuken.sh": &hook
    mode: "0755"
    content: |
      #!/usr/bin/env bash

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_CONFIG_APP_CURRENT=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh
      eval $(aws ssm get-parameters-by-path --path "${SSM_PARAM_PATH}/Settings/" --recursive | \
        jq -r '[.Parameters[]] | map(((.Name / "/")[2:]|join("__")|ascii_upcase) + "=\"" + (.Value) + "\"") | .[]')

      if [ "${SETTINGS__WORKER}" = "true" ]; then
        cd $EB_CONFIG_APP_CURRENT
        . $EB_SUPPORT_DIR/envvars.d/sysenv
        PIDFILE="/var/run/shoryuken.pid"

        if [ -f ${PIDFILE} ]; then
          kill -USR1 $(cat ${PIDFILE}) || echo "no process"
          rm -f ${PIDFILE} || echo "no file"
        fi
        touch ${PIDFILE}
        chown webapp:webapp ${PIDFILE}
        RBINDIR=$(dirname $(which ruby))
        sudo -u webapp -E ${RBINDIR}/bundle exec ${RBINDIR}/shoryuken -d -R -C config/shoryuken.yml -P ${PIDFILE} -L log/shoryuken.log -q ${SETTINGS__AWS__QUEUES__INGEST}
      fi
  "/opt/elasticbeanstalk/hooks/configdeploy/post/99_restart_shoryuken.sh":
    <<: *hook
  "/opt/elasticbeanstalk/hooks/restartappserver/post/99_restart_shoryuken.sh":
    <<: *hook
container_commands:
  01_stop_sqsd:
    test: '[ "${SETTINGS__WORKER}" = "true" ]'
    command: 'service aws-sqsd stop'
