files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_shoryuken.sh": &hook
    mode: 0755
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      DIR=/var/app/current
      if [ "$SETTINGS__WORKER" = "true" ]
        then
          if [ -f /var/run/shoryuken.pid ]
            then
              su -l -c "kill -USR1 `cat /var/run/shoryuken.pid`" root || echo "no process"
              su -l -c "rm -f /var/run/shoryuken.pid" root || echo "no file"
          fi
          su -l -c "cd $DIR && bundle exec shoryuken -d -R -C config/shoryuken.yml -P /var/run/shoryuken.pid -L log/shoryuken.log" root
      fi
  "/opt/elasticbeanstalk/hooks/configdeploy/post/99_restart_shoryuken.sh":
    mode: 0755
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      DIR=/var/app/current
      if [ "$SETTINGS__WORKER" = "true" ]
        then
          if [ -f /var/run/shoryuken.pid ]
            then
              su -l -c "kill -USR1 `cat /var/run/shoryuken.pid`" root || echo "no process"
              su -l -c "rm -f /var/run/shoryuken.pid" root || echo "no file"
          fi
          su -l -c "cd $DIR && bundle exec shoryuken -d -R -C config/shoryuken.yml -P /var/run/shoryuken.pid -L log/shoryuken.log" root
      fi
  "/opt/elasticbeanstalk/hooks/restartappserver/post/99_restart_shoryuken.sh":
    mode: 0755
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      DIR=/var/app/current
      if [ "$SETTINGS__WORKER" = "true" ]
        then
          if [ -f /var/run/shoryuken.pid ]
            then
              su -l -c "kill -USR1 `cat /var/run/shoryuken.pid`" root || echo "no process"
              su -l -c "rm -f /var/run/shoryuken.pid" root || echo "no file"
          fi
          su -l -c "cd $DIR && bundle exec shoryuken -d -R -C config/shoryuken.yml -P /var/run/shoryuken.pid -L log/shoryuken.log" root
      fi
container_commands:
  01_stop_sqsd:
    test: '[ "$SETTINGS__WORKER" = "true" ]'
    command: 'service aws-sqsd stop'
