

footer {
  a {
    &:hover {
      color: $white;
    }
  }
}

#page {
  header {
    background: none;
  }
}

#department {
  width: 700px / 1120px * 100%;
  h1 {
    margin: 0;
    padding: 0;
  }
}

#top-bar {
  ul > li {
    i {
      &:first-of-type {
        padding-right: .5rem;
      }
    }
  }
}

#search {
	width: 420px / 1120px * 100%;
}

@media screen and (max-width: 768px) {
  #mobile-nav-bottom ul {
    color: $white;
    > li {
      // Adds padding between sub navigation groups
      &.mobile-sub-nav-header {
        padding-top: .5rem;
      }
    }
  }
}
