<footer>
    <div class="contain-970">
        <div class="footer-content">
            <a href="http://www.northwestern.edu/"><img alt="Northwestern University logo" src="https://common.northwestern.edu/v8/css/images/northwestern-university.svg" /></a>
            <ul>
                <li>&#169; <%= Date.today.year %> Northwestern University</li>
                <li><a href="http://www.northwestern.edu/contact.html">Contact Northwestern University</a></li>
                <li><a href="http://www.northwestern.edu/hr/careers/">Careers</a></li>
                <li><a href="http://www.northwestern.edu/disclaimer.html">Disclaimer</a></li>
                <li><a href="http://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a></li>
                <li><a href="http://policies.northwestern.edu/">University Policies</a></li>
            </ul>
        </div>
        <div class="footer-content contact">
            <ul>
                <li class="footer-pin-icon"><span class="hide-label">Address</span></li>
                <li><strong>University (Main) Library</strong></li>
                <li>1970 Campus Drive</li>
                <li>Evanston, IL 60208</li>
            </ul>
            <ul>
                <li class="footer-phone-icon"><span class="hide-label">Phone number</span></li>
                <li class="phone-number">(847) 491-7658</li>
            </ul>
            <ul>
                <li class="footer-email-icon"><span class="hide-label">Email Address</span></li>
                <li><a href="mailto:digitalscholarship@northwestern.edu">digitalscholarship@northwestern.edu</a></li>
            </ul>
        </div>
        <div class="footer-content">
          <p><strong>Libraries Social Media</strong></p>
          <a href="https://www.facebook.com/NorthwesternLibrary" class="social facebook">Facebook</a>
          <a href="https://twitter.com/nu_library" class="social twitter">Twitter</a>
          <a href="https://www.instagram.com/nu_library/" class="social social instagram">Instagram</a>
          <a href="https://www.youtube.com/user/NorthwesternLib" class="social youtube">YouTube</a>
        </div>
        <div class="footer-content">
            <ul>
                <li><a href="<%= hyrax.terms_path %>">Terms of Use</a></li>
                <li><a href="http://www.library.northwestern.edu/about/support/index.html">Support Us</a></li>
                <li><a href="http://www.library.northwestern.edu/about/library-jobs/index.html">Library Jobs</a></li>
                <li><a href="http://www.library.northwestern.edu/about/administration/policies/index.html">Library Policies</a></li>
                <li><a href="http://www.library.northwestern.edu/about/contact/general-feedback.html">Provide Feedback</a></li>
            </ul>
        </div>
    </div>
</footer>
