<h1><span class="fa fa-copy"></span> Batches</h1>

<div class='table-responsive'>
  <table class='table table-condensed'>
    <thead>
      <th scope='col'>Status</th>
      <th scope='col'>Job ID</th>
      <th scope='col'>Submitter</th>
      <th scope='col'>Original Filename</th>
      <th scope='col'>Created At</th>
    </thead>
    <tbody>
      <%= render @batches %>
    </tbody>
  </table>
</div>
