<h1><span class="fa fa-copy"></span> Batch <%= @batch.job_id %></h1>

<div class='table-responsive'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>Status</th>
        <th scope='col'>Row Number</th>
        <th scope='col'>Accession Number</th>
      </tr>
    </thead>
    <tbody>
      <% @batch.batch_items.each do |item| %>
        <tr>
          <td><%= status_label item.status %></td>
          <td><%= item.row_number %></td>
          <td><%= item.accession_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
