<div class="set-access-controls">
  <h3><%= t('.branding.label') %></h3>
  <p>We are currently not using Hyrax's collection branding features.</p>
  <p>Alternatively, please go to the <strong>Description tab</strong> to choose a thumbnail to represent the Collection.</p>
</div> <!-- end set-access-controls -->
