<div class="set-access-controls">
  <h3><%= t('.branding.label') %></h3>
  <p>We are currently not using Hyrax's collection branding features.</p>
  <p>Alternatively, please go to the <a href='#description'>Description tab</a> to choose a thumbnail to represent the collection</p>
</div> <!-- end set-access-controls -->
